.description__row {
  width: calc(1110 / 1440 * 100%);
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-bottom: 156px;
}

@media screen and (max-width: 1060px) {
  .description__row {
    margin-bottom: 80px;
    flex-direction: column;
    align-items: center;
  }
}
