.footer__links{
    list-style: none;
    padding: 0;
    margin: 47px 0;
}

@media screen and (max-width: 1060px){
    .footer__links{
      display: flex;
      justify-content: space-between;
      margin: 0 15px 42px;
    }
  }
  