.card__description {
  font-family: "Mulish Regular", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #373F41;
  margin: 0 18px;
}
