.profile-popup {
  background-color: #fff;
  position: absolute;
  top: 40px;
  right: 95px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease .3s, opacity .3s ease;
  z-index: 2;
}
