.sorting-form__dropdown-list {
  width: 290px;
  height: 42px;
  margin: 0;
  padding: 11px 16px;
  font-family: "Mulish Regular", "Arial", "Helvetica", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
  border: 1px solid #000;
  background-color: white;
  border-radius: 4px;
  border: solid black 1px;
}

@media screen and (max-width: 1060px) {
  .sorting-form__dropdown-list {
    margin-bottom: 24px;
    width: 350px;
  }
  .sorting-form__dropdown-list:last-of-type {
    margin-bottom: 48px;
  }
}
