.chat-popup__input-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  min-height: 60px;
  padding: 15px 20px 15px 20px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 1060px) {
  .chat-popup__input-container {
  }
}
