.card__close-btn {
  position: absolute;
  top: 0;
  right: 0px;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  background-image: url(../../../images/close-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 0.3s ease;
  cursor: pointer;
  display: none;
}

.card__close-btn:hover {
  opacity: 0.6;
}
