.chat-popup__time {
  margin: 15px 0 15px;
  font-family: "Roboto Regular", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #5e7281;
}
