.footer{
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 1060px){
    .footer{
      flex-direction: column;
    }
  }
  