.stories__title {
  margin: 140px 0 100px;
  font-family: "Mulish Bold", Arial, Helvetica, sans-serif;
  font-size: 44px;
  line-height: 56px;
  letter-spacing: 0.2px;
  color: #373F41;
}

@media screen and (max-width: 1060px){
  .stories__title{
    font-size: 24px;
    line-height: 30px;
    margin: 80px 0 64px;
  }
}
