.chat-popup__message-input {
  font-family: "Mulish Regular", Arial, Helvetica, sans-serif;
  width: 85%;
  padding-left: 16px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2px;
  height: 52px;
  background-color: rgba(136, 144, 150, 0.1);
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  outline: none;
}
