.cover__right-man_mobile{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    display: none;
}

@media screen and (max-width: 1060px){
    .cover__right-man_mobile{
      display: block;
    }
  }