.outgoing-message__text {
  margin: 0;
  font-family: "Mulish Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.2px;
  max-width: 200px;
  word-wrap: break-word;
}
