.stories__row {
  width: calc(1110/1440 * 100%);
  display: flex;
  justify-content: space-around;
  margin-bottom: 116px;
}

@media screen and (max-width: 1060px){
  .stories__row{
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
}
