.footer__title{
    font-family: "Mulish Bold", "Arial", "Helvetica", "sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin: 112px 0;
    color: #249F8D
}

@media screen and (max-width: 1060px){
    .footer__title{
      margin: 41px 15px 28px;
    }
  }
  