.cover__button-find {
  margin: 0;
  width: 350px;
  height: 42px;
  background-color: #249f8d;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  font-family: "Mulish", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.3px;
  cursor: pointer;
}

@media screen and (max-width: 1060px) {
  .cover__button-find {
    margin-bottom: 52px;
  }
}
