.card__city{
    font-family: "Mulish Regular", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #5e7281;
    margin: 0 0 8px 18px;
    height: 24px;
}