.footer__contact-item {
  margin-bottom: 18px;
  font-family: "Mulish SemiBold", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #0e1c26;
}

.footer__contact-item:last-of-type {
  margin-bottom: 0;
}
